.card {
  margin-bottom: 5rem;
  text-decoration: none;
  margin-left: 10px;
}
.name {
  /* background: #777; */
  border-radius: 50px;

  font-weight: bolder;
  margin: 0;
  color: black;
  padding: 2px 10px;
  text-transform: uppercase;
  /* background-color: var(--app-color); */
  font-family: "Open Sans", sans-serif;
}
.card__img {
  margin-bottom: 2rem solid var(--app-backgroundcolor);
}
.rating {
  background-color: green;
  width: 60px;
  color: white;
  display: flex;
}

.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}

.cuisine {
  margin-bottom: 30px;
}
