.slider {
  background-color: rgba(27, 31, 34, 0.85);
  height: 600px;
  margin-top: 0.2rem;
}

.slider__images {
  width: 60%;
  height: 550px;
  position: absolute;
  left: 20%;
  top: 14%;
  transform: translate(-50%, -50%);
  background-image: url("./food3.png");
  background-size: 100% 100%;
  box-shadow: 1px 2px 10px 5px white;
  animation: slides 9s infinite linear;
}

@keyframes slides {
  0% {
    background-image: url("./food2.png");
  }
  35% {
    background-image: url("./food4.png");
  }
  75% {
    background-image: url("./food5.png");
  }
}
