@import url("https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap");
.body__top {
  position: relative;
  top: 48rem;
  display: flex;
  /* justify-content: space-between;
  align-items: center; */
  font-size: 60px;
  /* padding: 10px; */
  /* background-color: #6d2e46; */
}

/* .body__filter {
  border: 1px solid black;
  flex: 0.2;
  position: absolute;
  top: 30%;
} */
.body__sidebar {
  flex: 0.2;
  /* position: fixed; */
  height: 30rem;
}

.body__list {
  flex: 0.8;
  position: relative;
  /* left: 30%; */
  top: 30%;
  overflow: scroll;
  margin-right: 8rem;
}
.body__list::-webkit-scrollbar {
  display: none;
}

.restaurant {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
}

.heading {
  text-align: start;
  margin-left: 5rem;
  font-family: "Slabo 27px", serif;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.body__sidebar {
  /* background-color: var(--app-background); */
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.5);
  margin-bottom: 150rem;
  margin-top: 2rem;
  letter-spacing: 2px;
  line-height: 50px;
  margin-right: 50px;
  margin-left: 3rem;
}
