.LOGO {
  width: 80px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  object-fit: contain;
}

.header {
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  background-color: #f9a826;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header__inputs {
  margin-top: 10px;
  margin-bottom: 0;
  display: flex;
}

.header__link {
  color: white;
  text-decoration: none;
}

.header_option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
}
