.LOGO {
  width: 80px;
  margin-bottom: 0;
}

.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  /* border: 1px solid black; */
  margin-bottom: 0;
  background-color: #ffcb47;
  /* background-color: #fff; */
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.5);
  width: 100%;
  z-index: 100;
}

.header__inputs {
  margin-top: 10px;
  margin-bottom: 0;
  display: flex;
}
