.body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 60px;
  padding: 10px;
  background-color: rgb(211, 211, 211);
}

.body__filter {
  border: 1px solid black;
  flex: 0.2;
  position: absolute;
  top: 30%;
}

.body__list {
  border: 1px solid black;
  flex: 0.5;
  position: relative;
  top: 30%;
  left: 20%;
}

.body__map {
  border: 1px solid black;
  flex: 0.3;
  position: absolute;
  top: 30%;
  left: 80%;
}

.restaurant {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  margin-left: 80px;
}

.heading {
  text-align: center;
}
